.promo {
    min-height: 100vh;
    position: relative;
    background: radial-gradient(circle at -20.44% 43.84%, #f4e9c7 0, #efeac7 6.25%, #eaecc8 12.5%, #e5edca 18.75%, #e0eecc 25%, #dbefcf 31.25%, #d6f0d2 37.5%, #d2f1d6 43.75%, #cdf2da 50%, #c9f3de 56.25%, #c5f3e3 62.5%, #c2f3e7 68.75%, #bff3ec 75%, #bdf3f0 81.25%, #bcf3f5 87.5%, #bcf3f9 93.75%, #bcf2fd 100%);
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns { 
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link {
        color: #000;
        font-weight: bold;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}